*{
    font-family: 'Roboto', sans-serif;
    
}

html{
    min-height: 100%;
}

body{
    background-image: linear-gradient(to right top, #534a62, #8b5d7b, #c57280, #f09375, #ffc169);
    width: 100%;
    background-attachment: fixed;
}

.banner{
    position: relative;
    font-family: 'Roboto';
    background-color: var(--secondary-color);
    overflow: hidden;
    padding-top: var(--b-padding);
    padding-bottom: var(--b-padding);
    border-style: solid;
    border-color: var(--primary-color);
    border-width: var(--h-border-thk);
    border-left: var(--h-border);
    border-right: var(--h-border);
}

#profile-pic{
    display: flex;
    flex-wrap: wrap;
    height: 7rem; 
    border-radius: 25%;
    background-color: white;
    border: 0.15rem solid var(--primary-color);
    /* box-shadow: 0.3rem 0.3rem 0.6rem 0.17rem black; */

}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list a {    
    text-decoration: none;
    color: var(--text-heading);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}

.tiles{
    display: flex;
    flex-wrap: wrap;
    width: 100vp;
    overflow-x: hidden;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: ;
}

.heading{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-heading);
    font-weight: var(--h-width);
    font-size: var(--h-size);
    padding: 1rem;
    
}
.heading a{
    text-decoration: none;
    color: var(--text-heading);
}


.main-text{
    display: flex;
    color: var(--text-main);
    font-size: x-large;
    padding: 1rem 5rem;
    border-top: 0.25rem solid var(--primary-color);
    border-bottom: 0.25rem solid var(--primary-color);

}

.tile-imgA{
    height: 12rem;
    margin: 0 1.5rem;
    order: -1;
    
}


.tile-imgB{
    height: 12rem;
    margin: 0 1.5rem;
    order: 1;
    
}


/* Footer Banner */

.social-footer{
    padding: 1rem;
    background: var(--secondary-color);
}
/* forgot to add this from HTML */
.social-footer-icon{
    display: flex;
    width: 100%;
    font-size: 50px;
    justify-content: space-evenly;
}

.fa-twitter {
    color: black;
}

.fa-instagram{
    color: black;
    
}

.fa-linkedin{
    color: black;
}

/* add hover */
.fa:hover {
    opacity: 0.3;
}

.nav-list a:hover {
    opacity: 0.3;
}

/* https://codepen.io/brandonloving/pen/RaJbrL I used this code to create my Contact box*/

.contact {
    padding: 10px;
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: var(--primary-color);
    /* font: inherit; */
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 3px var(--primary-color);
    margin: 0 auto;
    max-width: 650px;
    max-height: 650px;
    position: relative;
    width: 100%;
  }
  
  form {
    padding: 45px;
  }
  
  /* h2 {
    color: black;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
  } */
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px var(--primary-color);
      color: var(--primary-color);
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('http://web.missouri.edu/~blly4b/ISLT7360/FinalProject/FINAL/icon-ios7-arrow-down-32.png') no-repeat right;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: black;
  }
  
  #form_button {
    background: none;
    border: solid 2px black;
    color: black;
    cursor: pointer;
    display: inline-block;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-size: 14px;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .submit {
    text-align: center;
  }
  
  #form_button:hover {
    background: black;
    color: #ffffff;
  }

@media screen and (max-width: 900px) {

    .nav-list{
        flex-direction: column;
    }
    
    .nav-list li{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #profile-pic{
        border: 0.15rem solid var(--primary-color);
        box-shadow: none;
    }

    .main-text{
        flex-direction: column;
        padding: 1rem 2rem;
    }
    .tile-imgA{
        height: 12rem;
        margin: auto;
        order: -1;
        padding: 1.5rem;
    }
    
    .tile-imgB{
        height: 12rem;
        margin: auto;
        order: -1;
        padding: 1.5rem;
    }

}

