:root {
    --primary-color: #534A62;
    --secondary-color: #F9EAFF;
    --text-main: #FFFADE;
    --text-heading: #4A4453;
    --h-border-thk: 0.25rem;
    --h-width: 600;
    --h-size: 3rem;
    --b-padding: 1rem;

}